name: CHG GitHub Action Demo

on:
  push:
    branches: [master]

jobs:
  Run-Unit-Tests:
	runs-on: ubuntu-latest
	steps:
		- name: Checkout the code for repository use
		  uses: actions/checkout@v2.1.1
		- name: Setup node on ubuntu
		  uses: actions/setup-node@v1.4.2
		  with:
			node-version: 12
		- name: Node clean install
		  run: npm ci
		- name: Unit tests
		  run: npm test
